%h1 Item

%hr 
Id:&nbsp;
= @item.id
%br
Item Category:&nbsp;
= @item.item_category.name
%br
- @item.item_category.item_category_attributes.each do |attribute|
  - if !@item.values.nil? && !@item.values[attribute.label].nil?
    = attribute.label + ": " + @item.values[attribute.label]
    %br
%br


= link_to "Edit", edit_item_path(@item)
= " - "
= link_to "Items", item_category_items_path(@item.item_category)